[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
aiokafka = "==0.5.1"
kafkahelpers = "==0.3.1"
tornado = "==4.0"
psycopg2-binary = ">=2.7.0"
sqlalchemy = "==1.3.3"
tornado-sqlalchemy = "==0.6.1"
python-dateutil = "==2.8.0"
requests = "==2.22.0"

[requires]
python_version = "3.6"
